@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto";
}

body {
    background-color: #eee;
}

header {
    z-index: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    overflow-y: hidden;
    border-bottom: 1px solid #ccc;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    padding: 5px;
    margin: 10px;
}

header div {
    width: 50vw;
}

header div input {
    width: 40vw;
    height: 5vh;
    border: 1px solid #ccc;
    border-radius: 45px;
    padding: 5px;
    padding-left: 12px;
}

header div label {
    font-size: 17px;
    padding: 5px;
    margin: 5px;
}

header img {
    position: relative;
    top: 24px;

}

i {
    color: #777777
}

header a {
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 5px;
}

header a:hover {
    border: 1px solid #ccc;
}

.side-bar {
    z-index: 0;
    top: 66px;
    width: 18.3vw;
    height: 100vh;
    position: fixed;
    background-color: #eee;
    border-right: 1px solid #ccc;
}

.side {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side ul {
    width: 100%;
    list-style: none;
}

.side .side-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-weight: 500;
}

.side li:hover {
    background-color: #c5c5c5;
    font-weight: 700;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.grid-item {
    margin: 30px;
    background-color: #fff;
    padding: 15px;
}

.holder-image {
    position: relative;
    width: 100vw;
    height: 40vh;
    display: flex;
    top: 120px;
    margin: auto;
    justify-content: center;
    z-index: -1;

}

.holder-image img {
    width: 400px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}
i{
    font-size: 20px;
}
a{
    text-decoration: none;
}