<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link -->
    <link rel="stylesheet" href="../res/fonts/remixicon.css">
    <link rel="stylesheet" href="./res/home.css" />
    <!-- Title -->
    <title>Home | Açougue G & B</title>
    <!-- Script -->
    <script defer src="./res/home.js"></script>
</head>

<body>
    <header class="top-side-bar navigation">
        <img src="../res/img/logo_header.png" width="250px">
        <!--
        <div>
            <label for="search"><i class="ri-search-2-line"></i></label>
            <input type="text" placeholder="carne de panela ou carne para churrasco..." class="search" />
        </div> 
        -->
        <div>
            <a class="credits" target="_blank" href="https://www.github.com/madebyallanbahr">@madebyallanbahr</a>
        </div>
        <nav>
            <ul>
                <li><a href=""><i class="ri-shopping-cart-2-line"></i></a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <div class="content-behavior">
            <nav>
                <ul>
                    <li class="nav-item">Suíno</li>
                    <li class="nav-item">Bovino</li>
                    <li class="nav-item selected">Ofertas</li>
                    <li class="nav-item">Aves</li>
                    <li class="nav-item">Mercearia</li>
                </ul>
            </nav>
            <p> O que você procura?</p>
            <div class="category">
                <ul>
                    <li class="category-item">Suíno</li>
                    <li class="category-item">Bovino</li>
                    <li class="category-item selected">Ofertas</li>
                    <li class="category-item">Aves</li>
                    <li class="category-item">Mercearia</li>
                </ul>
            </div>
            <div class="grid">
                <div class="grid-item">
                    <img src="../res/img/coxas1-min.jpg" width="100%">
                    <h2> Coxa</h2>
                    <p class="p-stock">Em Estoque</p>
                    <button>8,99R$/kg</button>
                </div>
                <div class="grid-item">
                    <img src="../res/img/guisado2-min.jpg" width="100%">
                    <h2> Guisado</h2>
                    <p class="p-stock">Em Estoque</p>
                    <button>29,99R$/kg</button>
                </div>
                <div class="grid-item">
                    <img src="../res/img/paleta2-min.jpg" width="100%">
                    <h2> Paleta Suína</h2>
                    <p class="p-stock">Em Estoque</p>
                    <button>13,99R$/kg</button>
                </div>
                <div class="grid-item">
                    <img class="linguica-img" src="../res/img/linguica2-min.jpg" width="100%">
                    <h2> Linguiça Campeira</h2>
                    <p class="p-stock">Em Estoque</p>
                    <button>24,99R$/kg</button>
                </div>
            </div>
        </div>
    </main>

</body>

</html>