@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto";
}

body {
    background-color: #eee;
    overflow-x: hidden;

}

header {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 10vh;
    overflow-y: hidden;
    border-bottom: 1px solid #ccc;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    padding: 5px;
    margin: 10px;
}

header div {
    width: 50vw;
}

header div input {
    width: 40vw;
    height: 5vh;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    padding-left: 12px;
}

header div label {
    font-size: 17px;
    padding: 5px;
    margin: 5px;
}

header img {
    position: relative;
    top: 24px;
}

li i {
    font-size: 20px;
    color: #2e2e2e
}

i {
    font-size: 20px;
    color: #2e2e2e
}

header a {
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 5px;
}
.credits{
    padding: 5px;
}

header a:hover {
    border: 1px solid #ccc;
    color: #000;
}

.side-bar {
    z-index: 1;
    top: 60px;
    width: 18.4vw;
    height: 100vh;
    position: fixed;
    background-color: #eee;
    border-right: 1px solid #ccc;
}


.content {
    position: relative;
    top: -40px;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 160vh;
}

.grid {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50vw;
    height: 100vh;
}

.grid-item {
    margin: 30px;
    background-color: #fff;
    padding: 25px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    width: 350px;
    height: 350px;
}

.holder-image {
    position: relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    top: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    text-align: left;

}

.holder-image img {
    width: 600px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.holder-image p {
    position: relative;
    display: flex;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #2e2e2e;
}

.side-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    text-align: center;
}

.side-description .side-description-title {
    font-size: 18px;
    padding: 5px;
}

.side-description .side-description-desc {
    font-size: 12px;
    padding: 5px;

}

a {
    text-decoration: none;
}

.content-behavior {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    flex-direction: column;
}

.content-behavior .category ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.content-behavior .category .category-item, .category-item-selected {
    margin: 10px;
    list-style: none;
    font-size: 14px;
    padding: 12px;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    cursor: pointer;

}
.category-item:hover{
    background-color: #2e2e2e;
    color: #fff;

}
.selected{
    background-color: #2e2e2e;
    color: #fff;

}
.credits{
    color: #2e2e2e;
    font-size: 14px;
}

.category-item-selected {
    background-color: #2e2e2e;
    color: #fff;
}
img{
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    border: 1px solid #a7a7a7;
    color: #000;
}
.p-stock{
    font-weight: bold;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 5px;
    color: #ff3d2f;
}